@use "globals/vars";
@use "globals/mixins";

#entries {
  width: clamp(300px, 85%, 1100px);
  margin: 0 auto 150px;

  &-heading {
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    .section-heading {
      justify-self: end;

      &:first-child {
        padding-right: 40px;
      }
    }

    @include mixins.big-tab() {
      .section-heading {
        justify-self: center;

        &:first-child {
          padding-right: 0;
        }
      }
    }
  }

  .entry {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    margin-bottom: 100px;

    &-img {
      background-size: cover;
      height: 100%;
      border-radius: 5px;
    }

    .left-arr svg {
      transform: rotate(-90deg);
    }

    .right-arr svg {
      transform: rotate(90deg);
    }

    &-vid {
      opacity: 0;
      object-fit: fill;
      width: 100%;
      height: 100%;
      transition: all 200ms ease-in-out;
      border-radius: 5px;
    }

    &:hover {
      .entry-vid {
        opacity: 100%;
      }

      .left-arr {
        transform: translateX(-5px);
        svg {
          stroke: vars.$neon-green-light;
        }
      }
      .right-arr {
        transform: translateX(5px);
        svg {
          stroke: vars.$neon-green-light;
        }
      }
    }

    &-content {
      display: grid;
      grid-template-rows: repeat(3, min-content);
      grid-row-gap: 20px;
    }

    &-heading {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    &-address {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &-dir {
      &::after {
        content: "↗";
        display: inline-block;
        margin-left: 2px;
      }

      &:hover {
        &::after {
          transform: translateX(2px) translateY(-2px);
        }
      }
    }

    @include mixins.big-tab() {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 20px;

      .left-arr svg,
      .right-arr svg {
        transform: rotate(0);
      }

      &:hover {
        .left-arr {
          transform: translateY(-5px);
        }
        .right-arr {
          transform: translateY(-5px);
        }
      }

      &-content {
        grid-row: 2;
      }

      &-img {
        grid-row: 1;
      }

      &-heading {
        svg {
          align-self: start;
          justify-self: end;
          transform: translateY(-80px) scale(0.8);
        }
      }
    }
  }
}
