@use "globals/vars";
@use "globals/mixins";

#events {
  width: clamp(400px, 95%, 1400px);
  margin: 0 auto 150px;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content auto;
  grid-row-gap: 20px;
  cursor: pointer;

  &-btn {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    justify-self: end;

    .btn-round {
      display: grid;
      grid-template-columns: 1fr min-content;
      grid-column-gap: 10px;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 400;
      width: max-content;
    }

    span:last-child {
      transform: translateY(2px);
    }
  }

  @include mixins.big-tab() {
    grid-template-columns: 1fr repeat(2, 2fr);

    .event:last-child {
      display: none;
    }

    &-btn {
      grid-column: 1 / span 3;
    }
  }

  @include mixins.mob() {
    grid-template-columns: repeat(2, 1fr);

    &-btn {
      grid-column: 1 / span 2;
      grid-row: 4 / span 1;
      justify-self: center;
    }
  }

  &-heading {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    justify-self: start;
    align-self: start;

    @include mixins.big-tab() {
      grid-row: 2 / span 2;
    }

    @include mixins.mob() {
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
      writing-mode: horizontal-tb;
      transform: rotate(0);
    }
  }

  .event {
    img {
      max-width: 100%;
      margin-bottom: 20px;
      transition: all 200ms ease-in-out;
    }

    &-more {
      &::after {
        content: "↗";
        display: inline-block;
        margin-left: 2px;
      }
    }

    &:hover {
      img {
        transform: translateY(-10px);
        opacity: 90%;
      }

      .event-more {
        color: vars.$neon-green-light;

        &::after {
          transform: translateX(2px) translateY(-2px);
        }
      }
    }
  }
}
