@use "globals/vars";
@use "globals/mixins";

#greenway {
  width: clamp(300px, 85%, 1100px);
  margin: 0 auto 150px;
  background: none;

  p:first-child {
    margin-bottom: 50px;
    transform: translateY(20px);
    opacity: 0;
    z-index: 2;
    transition: all 500ms ease-in-out;

    &.open {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &-spl {
    color: vars.$rail-park-green;
    cursor: default;
  }

  &-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &-end {
      justify-self: start;
    }

    @include mixins.big-tab() {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);

      &-end {
        justify-self: start;
      }
    }
  }
}
