@use "globals/vars";
@use "globals/mixins";

#greenway {
  width: clamp(300px, 85%, 1100px);
  margin: 0 auto 150px;

  &-spl {
    color: vars.$rail-park-green;
  }

  p:first-child {
    margin-bottom: 50px;
  }

  &-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &-end {
      justify-self: start;
    }

    @include mixins.big-tab() {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);

      &-end {
        justify-self: start;
      }
    }
  }
}
