#hero {
  position: relative;

  &-head-cont {
    width: clamp(250px, 75%, 1100px);
    margin: 30px auto 0;
  }

  &-rotate {
    position: absolute;
    top: 200px;
    right: 80px;
    z-index: 1;
  }

  &-content {
    margin: 0 20px;
    display: grid;
    grid-template-columns: min-content 1fr 2fr min-content;
    transform: translateY(-50px);
    grid-column-gap: 50px;
    align-items: center;
  }

  &-heading {
    font-size: 9rem;
    line-height: 0.8;
    font-weight: 600;
    margin: 0;
  }

  &-cont {
    align-self: center;
  }

  &-par {
    margin-bottom: 20px;
  }

  &-link {
    font-size: 2rem;
  }

  &-img {
    background-size: cover;
    background-image: url("../img/hero/img1.avif");
    height: 0;
    padding-top: 50%;
  }
}
