@use "globals/mixins";

#hero {
  position: relative;

  &-head-cont {
    width: clamp(300px, 85%, 1100px);
    margin: 30px auto 0;
  }

  &-svg {
    position: absolute;
    top: 200px;
    right: 80px;
    z-index: 1;

    @include mixins.big-tab() {
      top: 85px;
      right: 20px;
    }
  }

  &-content {
    margin: 0 20px;
    display: grid;
    grid-template-columns: min-content 1fr 2fr min-content;
    transform: translateY(-50px);
    grid-column-gap: 50px;
    align-items: center;

    @include mixins.big-tab() {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, min-content);
      grid-row-gap: 40px;
      transform: translateY(0);

      #hero-img {
        grid-row: 1;
      }

      #hero-cont {
        grid-row: 2;
      }

      .left-arr,
      .right-arr {
        display: none;
      }
    }
  }

  &-heading {
    font-size: 9rem;
    line-height: 0.8;
    font-weight: 600;
    margin: 0;
  }

  &-cont {
    align-self: center;
  }

  &-par {
    margin-bottom: 20px;
  }

  &-link {
    font-size: 2rem;
  }

  &-img {
    background-size: cover;
    background-image: url("../img/hero/img1.avif");
    height: 0;
    padding-top: 50%;
  }
}
