@use "globals/vars";

#mailing {
  background: vars.$neon-green-light;
  padding: 60px 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;

  &-email {
    border-bottom: 1px solid rgba(19, 19, 19, 0.5);
    height: min-content;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr min-content;
    transition: all 200ms ease-in-out;

    &:focus-within {
      border-bottom: 1px solid vars.$black;
    }

    input {
      font-size: 2rem;
      border: none;
      outline: none;
      background: none;
      padding-bottom: 2px;
      transition: all 200ms ease-in-out;

      &::placeholder {
        font-size: 2rem;
        color: vars.$black;
        opacity: 50%;
      }

      &:focus {
        &::placeholder {
          opacity: 25%;
        }
      }
    }
  }
}
