@use "globals/vars";

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 30px 0;
  margin: auto;
  width: clamp(250px, 75%, 1100px);
  position: relative;

  #nav-toggle {
    width: min-content;

    .bar {
      width: 50px;
      height: 2px;
      background-color: black;
      margin-bottom: 8px;
      margin-top: 8px;
    }

    &:hover {
      .bar {
        background-color: vars.$neon-green;
      }
    }
  }

  #nav-middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    grid-column-gap: 100px;

    #icon-svg {
      fill: vars.$black;
      transition: all 200ms ease-in-out;
      cursor: pointer;

      &:hover,
      &:active {
        fill: vars.$neon-green;
      }
    }
  }

  #nav-end {
    justify-self: end;
  }

  #lang-change {
    position: absolute;
    font-size: 0.9rem;
    top: 75px;
    right: 35px;
  }
}
