@use "globals/vars";

#events {
  width: clamp(400px, 95%, 1400px);
  margin: 0 auto 150px;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  cursor: pointer;

  &-heading {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    justify-self: start;
    align-self: start;
  }

  .event {
    img {
      max-width: 100%;
      margin-bottom: 20px;
      transition: all 200ms ease-in-out;
    }

    &-more {
      &::after {
        content: "↗";
        display: inline-block;
        margin-left: 2px;
      }
    }

    &:hover {
      img {
        transform: translateY(-10px);
        opacity: 90%;
      }

      .event-more {
        color: vars.$neon-green-light;

        &::after {
          transform: translateX(2px) translateY(-2px);
        }
      }
    }
  }
}
