@use "globals/helpers";
@use "globals/vars";
@use "globals/mixins";
@use "nav";
@use "hero";
@use "entries";
@use "greenway";
@use "vision";
@use "tour";
@use "events";
@use "mailing";
@use "footer";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

:root {
  font-size: 100%;

  @include mixins.big-tab() {
    font-size: 70%;
  }
}

body {
  background-color: vars.$off-white;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

button {
  background-color: vars.$off-white;
  text-decoration: none;
  border: none;
  z-index: -1;
}
