@use "vars";

.text-thin {
  color: vars.$black;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.section-heading {
  font-size: 4.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

.btn-round {
  padding: 10px 30px;
  border: 1px solid vars.$black;
  border-radius: 50px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: vars.$black;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover,
  &:active {
    background-color: vars.$neon-green-light;
    color: vars.$white;
    border-color: vars.$neon-green-light;
  }
}

.link-empty {
  color: vars.$black;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover,
  &:active {
    color: vars.$neon-green-light;
  }
}
.link-empty-rev {
  color: vars.$neon-green-light;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover,
  &:active {
    color: vars.$black;
  }
}

.regular-par {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.small-par {
  font-size: 2rem;
  padding: 0;
  margin: 0 0 20px;
}

.xsmall-par {
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0;
  margin: 20px 0;
}

.right-arr {
  transition: all 100ms ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateX(5px);
  }
}

.left-arr {
  transition: all 100ms ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateX(-5px);
  }
}

.svg-green-on-hover-stroke {
  stroke: vars.$black;
  transition: all 200ms ease-in-out;

  &:hover {
    stroke: vars.$neon-green;
  }
}

.svg-green-on-hover-fill {
  fill: vars.$black;
  transition: all 200ms ease-in-out;

  &:hover {
    fill: vars.$neon-green;
  }
}

@keyframes rotate-img {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.img-rotate {
  animation: rotate-img infinite 25s linear;
}
